.profile {
    text-align: center;
    color: #F7EFE5;
    background-color: #222222;
    border-radius: 10px;

}

h2 {
    font-size: 60px;
}

span {
    display: block;
    font-size: 30px;
}

.btn {
    color: #F7EFE5;
    font-size: 30px;
    margin: 10px;
    padding: 8px;
}

.back {
    background-color: #3FABAF;
}

.out {
    background-color: #FD5825;
}

.delete {
    background-color: #F7EFE5;
    color: #222222;
}

.btn:hover {
    background-color: #222222;
    border: 2px solid #F7EFE5;
    color: #F7EFE5;
    padding: 7px;
}